node_modules
.DS_Store

lib

/tests/vue-test/node_modules/
/tests/vue-test/dist/
/tests/vue-test/npm-debug.log*
/tests/vue-test/yarn-debug.log*
/tests/vue-test/yarn-error.log*

# Editor directories and files
/tests/vue-test/.idea
/tests/vue-test/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
